@model IEnumerable<programmeringmed.Net3.Models.AuthorModel>

@{
    ViewData["Title"] = "Index";
}


<div class="flex">
    <h1>Authors</h1>

    <a class="CreateNew" asp-action="Create">Create New</a>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="row">
                <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="details" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
