@model programmeringmed.Net3.Models.BorrowModel

@{
    ViewData["Title"] = "Create";
}

<h1>Borrow Book</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label">Title</label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId">
                    @foreach (var book in ViewBag.Books)
                    {
                        <option value="@book.Id">@book.Title</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label">Your Name</label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId">
                    @foreach (var person in ViewBag.Persons)
                    {
                        <option value="@person.Id">@person.FirstName @person.LastName</option>
                    }
                </select>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
