@using programmeringmed.Net3.Controllers
@model IEnumerable<programmeringmed.Net3.Models.BorrowModel>

@{
    ViewData["Title"] = "Index";
}

<div class="flex">
    <h1>Books that are borrowed</h1>

    <a class="CreateNew" asp-action="Create">Create New</a>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Person Name
            </th>
            <th>
                Borrow Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FirstName) @Html.DisplayFor(modelItem => item.Person.LastName)
                
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
                </td>
            <td class="row">
                <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="details" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>
