@model IEnumerable<programmeringmed.Net3.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}

<div class="flex">
    <h1>Books</h1>

    <a class="CreateNew" asp-action="Create">Create New</a>

</div>




<form method="get" asp-controller="Book" asp-action="Index" class=" search-container">

    <input class="search-input" type="search" name="searchString" id="" value="@ViewData["GetBookDetails"]">
    <input class="search-button" type="submit" value="Search" name="" id="">
    <a class="center mt " asp-action="index">Get all Books</a>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="row">
                    <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="details" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
